<h1><%= @song.title %></h1>

<%= link_to("Edit Song", edit_song_path(@song)) %>
<%= link_to('Delete Song', song_path(@song), method: :delete, data: { confirm: 'Are you sure?' }) %>

<h2>Artist: <%= link_to(@song.artist_name, artist_path(@song.artist)) %></h2>